.container{
    background-color: #f7f7f7;
}

.stcard{
    margin: 2rem;
    background-color: white;
    display: flex;
    justify-content: start;
}

.cart-img{
    margin: 2rem;
}

.linktitle:hover{
    color: #24a3fe;
}

.linktitle{
    color: black;
    text-decoration: none;
}

.title{
    font-size: 20px;
}

.specs{
    margin: 2rem;
}




.push-buy:hover{
    color: #24a3fe;
}
.push-buy{
    color: black;
}